@import "../../../_css/common";

.form {
  display: flex;
  flex-direction: column;
  gap: var(--base);
}

.actions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--base);
}
